extends layout

block content
  canvas(id="canvas_id", width="800", height="600")
  script.
    (function() {
            var htmlCanvas = document.getElementById('canvas_id'),

            context = htmlCanvas.getContext('2d');

            initialize();
 
            function initialize() {
              document.body.addEventListener('touchmove', function(event) {
                  event.preventDefault();
              }, false);
                window.addEventListener('resize', resizeCanvas, false);
                resizeCanvas();
            }
                   
            function redraw() {
                context.strokeStyle = 'blue';
                context.lineWidth = '5';
                context.strokeRect(0, 0, window.innerWidth, window.innerHeight);
            }
        
            function resizeCanvas() {
                htmlCanvas.width = window.innerWidth;
                htmlCanvas.height = window.innerHeight;
                redraw();
            }
        
        })();
  script(src="//#ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
  script(src="javascripts/demo.js")
  script(src="/javascripts/hammer.fakemultitouch.js")
  script(src="/javascripts/hammer.showtouches.js")
  script.
    Hammer.plugins.showTouches();
    Hammer.plugins.fakeMultitouch();