html, body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

a {
  color: #00B7FF;
}

canvas {
	border: 1px solid #000000;
	position: absolute; 
	top: 0px;
	left: 0px;
}